<md-sidenav-container style="height: 100%" id="sidenav-container">
  <md-sidenav #sidenav id="sidenav">
    <md-list>
        <md-list-item>
          <md-icon mdListIcon>help_outline</md-icon>
          <h3 mdLine>Hilfe</h3>
        </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar id="navbar" color="primary" class="box-shadow-1">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <a [routerLink]="['/app']">{{ config.APP_NAME }}</a>

    <button md-icon-button (click)="theme.toggleTheme()">
      <md-icon>format_color_fill</md-icon>
    </button>
    <button md-icon-button [mdMenuTriggerFor]="accMenu">
      <md-icon>account_circle</md-icon>
    </button>
    <md-menu #accMenu="mdMenu">
        <button md-menu-item disabled> {{ (userService.user | async)?.name }} </button>
        <button md-menu-item (click)="logout()"> Ausloggen </button>
    </md-menu>
    <md-progress-bar mode="indeterminate" id="loading-bar" *ngIf="loadingService.isLoading | async"></md-progress-bar>
  </md-toolbar>
  <div id="content">
    <ng-content></ng-content>
  </div>
</md-sidenav-container>
