<mat-sidenav-container style="height: 100%">
  <mat-sidenav #sidenav id="sidenav">
    <mat-nav-list>
      <a [routerLink]="['/app/help']" mat-list-item (click)="sidenav.close()">
        <mat-icon matListIcon>help_outline</mat-icon>
        <h3 matLine>Hilfe</h3>
      </a>
      <a [routerLink]="['/app/about']" mat-list-item (click)="sidenav.close()">
        <mat-icon matListIcon>info_outline</mat-icon>
        <h3 matLine>Impressum</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar id="navbar" color="primary" class="box-shadow-1">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/app']">{{ config.APP_NAME }}</a>

    <button mat-icon-button (click)="theme.toggleTheme()">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="accMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accMenu="matMenu">
      <button mat-menu-item (click)="showAccountDialog()"> {{ (userService.user | async)?.name }}</button>
      <button mat-menu-item (click)="logout()"> Ausloggen</button>
    </mat-menu>
    <mat-progress-bar mode="indeterminate" id="loading-bar" *ngIf="loadingService.isLoading | async"></mat-progress-bar>
  </mat-toolbar>
  <div id="content">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
