@import "../../../variables";

#sidenav {
  padding: 20px;
}

#content {
  padding: 20px;
}

#navbar {
  position: relative;
  a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    flex: 1;
  }

  #loading-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}


