<h2 md-dialog-title>Passwort zurücksetzen</h2>
<md-dialog-content *ngIf="!authenticated">
  <p>Bitte gebe deinen Nutzernamen und deine E-Mail an.</p>
  <form [formGroup]="authForm">
    <md-form-field>
      <input mdInput placeholder="Nutzername" name="username" formControlName="username">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="E-Mail" name="email" type="email" formControlName="email">
    </md-form-field>
  </form>
</md-dialog-content>
<md-dialog-content *ngIf="authenticated">
  <p>Wenn die angegebenen Informationen korrekt waren, haben wir dir eine E-Mail mit einem Code geschickt.</p>
  <p>Bitte gebe diesen zusammen mit einem neuen Passwort ein.</p>
  <form [formGroup]="newPasswordForm">
    <md-form-field>
      <input mdInput placeholder="token" name="token" formControlName="token">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Neues Passwort" name="password" type="password" formControlName="password">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Passwort bestätigen" name="passwordConfirm" type="password" formControlName="passwordConfirm">
    </md-form-field>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-button (click)="authUser()" [disabled]="authForm.invalid" *ngIf="!authenticated">Abschicken</button>
  <button md-button (click)="resetPassword()" [disabled]="authForm.invalid" *ngIf="authenticated">Abschicken</button>
  <button md-button md-dialog-close>Schließen</button>
</md-dialog-actions>

