<h2 mat-dialog-title>Account</h2>
<mat-dialog-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nutzername
      </mat-panel-title>
      <mat-panel-description>
        {{ user.pluck('name') | async }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="userForm" *ngIf="userForm">
      <mat-form-field>
        <input placeholder="Nutzername" matInput formControlName="username">
      </mat-form-field>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Email
      </mat-panel-title>
      <mat-panel-description>
        {{ user.pluck('email') | async }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="userForm" *ngIf="userForm">
      <mat-form-field>
        <input placeholder="Deine E-Mail" matInput formControlName="email">
      </mat-form-field>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Password
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="userForm" *ngIf="userForm">
      <mat-form-field>
        <input placeholder="Neues Password" matInput type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Password bestätigen" matInput type="password" formControlName="passwordConfirm">
      </mat-form-field>
    </form>
  </mat-expansion-panel>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="userForm.invalid || userForm.pristine">Speichern</button>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
