<h2 mat-dialog-title>Eine Serie von Templates erstellen</h2>
<mat-dialog-content>
  <p>Bitte beachte die folgenden Punkte:</p>
  <ul>
    <li>Du kannst eine <strong>CSV</strong> Datei hochladen, wobei die Namen der Spalten alle Platzhalter/Variablen im Template abdecken müssen.</li>
    <li>Eine solche Datei kann z.B. mit Excel oder LibreOffice erstellt werden.</li>
    <li>Die Werte einer Zeile müssen durch ein Kommar getrennt werden.</li>
    <li>Einzelne Werte müssen mit <strong>"</strong> eingegrenzt sein.</li>
  </ul>
  <p>Hier ist ein Beispiel:</p>
  <pre style="margin-left: 20px">
{{ exampleCsv() }}
  </pre>
  <input type="file" (change)="onCSVFileChange($event)" #fileUpload hidden>
  <button mat-raised-button (click)="chooseFile()" color="primary">Datei hochladen</button>
  <button mat-raised-button (click)="createTable()" color="accent">Tabelle manuell erzeugen</button>

  <div *ngIf="csvFileJson && csvFileJson.length">
    <mat-table #table [dataSource]="tableDataSource">
      <ng-container matColumnDef="{{ key }}" *ngFor="let key of csvFileKeys">
        <mat-header-cell *matHeaderCellDef>{{ key }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field class="table-form-field">
            <input matInput [(ngModel)]="element[key]">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef [ngClass]="'delete-cell'">Löschen</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'delete-cell'">
          <button (click)="deleteRow(element)" mat-icon-button><mat-icon>remove_circle</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="csvFileKeys"></mat-header-row>
      <mat-row *matRowDef="let row; columns: csvFileKeys.concat(['delete']);"></mat-row>
    </mat-table>
    <button mat-raised-button color="accent" style="margin: 10px 0 10px 0" (click)="addRow()">Zeile hinzufügen</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [disabled]="!csvFileJson || csvFileJson.length == 0" (click)="generate()">Generieren</button>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
