<h2 mat-dialog-title>Template aktualisieren</h2>
<mat-dialog-content>
  <p>Hier kannst du ein neues LaTeX Dokument hochladen. Bitte beachte dabei die folgenden Punkte:</p>
  <ol>
    <li>Das Dokument muss in einer <em>Zip</em> Datei vorliegen.</li>
    <li>Das Dokument muss eine <em>main.tex</em> Datei enthalten, von der aus das Dokument kompiliert werden kann.</li>
    <li>Alle Platzhalter und Variablen dürfen nur in der <em>main.tex</em> Datei eingefügt sein.</li>
    <li>Das alte Dokument wird hierbei komplett und unwiederruflich überschrieben.</li>
  </ol>
  <div *ngIf="uploader; else loading">
    <button mat-raised-button color="primary" (click)="chooseDocument()">Dokument auswählen</button>
    <input type="file" id="upload" ng2FileSelect [uploader]="uploader" hidden #fileInput>
  </div>
  <div *ngIf="uploader.queue.length">
    <mat-grid-list cols="3" rowHeight="4:1">
      <mat-grid-tile>
        <span>{{ uploader.queue[0].file.name }}</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-progress-bar [value]="uploader.progress"></mat-progress-bar>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ng-template #loading>Lade...</ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="upload()" [disabled]="!uploader.queue.length">Hochladen</button>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
