<h2 md-dialog-title>Anmeldung</h2>
<md-dialog-content>
  <form>
    <md-form-field>
      <input mdInput placeholder="Nutzername" name="username" [(ngModel)]="username">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Passwort" name="password" type="password" [(ngModel)]="password">
    </md-form-field>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-button (click)="login()" [disabled]="!username || !password">Einloggen</button>
  <button md-button (click)="register()">Registrieren</button>
</md-dialog-actions>
