<h2 mat-dialog-title>Anmeldung</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup" *ngIf="!(loadingService.isLoading | async); else loading">
    <mat-form-field>
      <input matInput placeholder="Nutzername" name="username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Passwort" name="password" type="password" formControlName="password">
    </mat-form-field>
  </form>
  <ng-template #loading>
    <div style="height: 150px;">

      <mat-spinner style="margin: auto"></mat-spinner>
    </div>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="login()" type="submit" [disabled]="formGroup.invalid || (loadingService.isLoading | async)">
    Einloggen
  </button>
  <button mat-button (click)="register()">Registrieren</button>
  <button mat-button (click)="forgotPassword()">Passwort vergessen?</button>
</mat-dialog-actions>
