<h2 mat-dialog-title>Anmeldung</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput placeholder="Nutzername" name="username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Passwort" name="password" type="password" formControlName="password">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="login()" [disabled]="formGroup.invalid">Einloggen</button>
  <button mat-button (click)="register()">Registrieren</button>
  <button mat-button (click)="forgotPassword()">Passwort vergessen?</button>
</mat-dialog-actions>
