<mat-card id="template-display" *ngIf="templateService.activeTemplate">

  <mat-card-content>{{ templateService.activeTemplate?.description }}</mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="edit()" matTooltip="Template Editieren">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="upload()" matTooltip="LaTeX Dokument hochladen">
      <mat-icon>file_upload</mat-icon>
    </button>
    <ng-container *ngIf="templateService.activeTemplate?.token">
      <a [href]="templateLink" [download]="templateService.activeTemplate?.name">
        <button mat-raised-button color="accent" matTooltip="LaTeX Dokument herunterladen">
          <mat-icon>file_download</mat-icon>
        </button>
      </a>
    </ng-container>
    <button mat-raised-button color="warn" (click)="remove()" matTooltip="Template Löschen">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
