<h2 mat-dialog-title>Neues Template</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Beschreibung" name="description" [(ngModel)]="description" rows="5"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!name">Erstellen</button>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
