<h2 md-dialog-title>Neues Template</h2>
<md-dialog-content>
  <form>
    <md-form-field>
      <input mdInput placeholder="Name" name="name" [(ngModel)]="name">
    </md-form-field>
    <md-form-field>
      <textarea mdInput placeholder="Beschreibung" name="description" [(ngModel)]="description" rows="5"></textarea>
    </md-form-field>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-button (click)="submit()" [disabled]="!name">Erstellen</button>
  <button md-button md-dialog-close>Schließen</button>
</md-dialog-actions>
