<div id="landing-page-container">
  <div id="header-background"></div>
  <div id="header-section">
    <div id="title-container">
      <h1 id="title">{{ config.APP_NAME }}</h1>
      <p id="sub-title">Erstelle dynamische LaTeX-Templates für Zertifikate, Verträge und co.</p>
      <button mat-raised-button color="primary" class="call-to-action-btn" (click)="go()">Los geht's</button>
    </div>
  </div>
  <div class="section" id="description-section">
      <h2>Beschreibung</h2>
      <p>Mit dem {{config.APP_NAME}} können Templates mit LaTeX erstellt und online ausgefüllt werden.</p>
      <img src="../../../assets/App-Showcase1.png" alt="Showcase" id="app-showcase-pic">
  </div>
  <div class="divider"></div>
  <div class="row section" id="features-section">
    <h1>Features</h1>
    <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let feature of features">
      <mat-card class="feature-item">
        <div id="icon">
          <mat-icon>{{ feature.icon }}</mat-icon>
        </div>
        <h2 id="name">{{ feature.name }}</h2>
        <p id="description">{{ feature.description }}</p>
        <a [href]="feature.link" *ngIf="feature.link">Weitere Informationen</a>
      </mat-card>
    </div>
    <button mat-raised-button color="accent" class="call-to-action-btn" style="margin-top: 20px" (click)="go()">Los geht's</button>
  </div>
  <div class="divider"></div>
  <div class="section" id="footer">
    Entwickelt von <a [href]="config.AUTHOR_URL" class="link-no-decoration">Lars Gröber</a> für den Starken Start ins Studium.
  </div>
</div>
