<h2 mat-dialog-title>Template bearbeiten</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" name="name" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Beschreibung" name="description" [(ngModel)]="description" rows="5"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()">Speichern</button>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
