/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/bootstrap-grid/bootstrap.min.css";

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

$dark-background: black;

@mixin box_shadow ($level) {

  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

}

.box-shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.table-form-field {
  width: 90% !important;
}

mat-form-field {
  display: block !important;
  width: 100% !important;
}

mat-dialog-container {
  min-width: 40vw;
}

.mt-1 {
  margin-top: 1rem;
}

.link-no-decoration {
  text-decoration: none;
  color: inherit;
}
