<div id="template-display">
  <app-template-basics></app-template-basics>
  <div *ngIf="templateService.activeTemplate">
    <div id="template-view" *ngIf="templateService.activeTemplate?.document || templateService.activeTemplate?.fields?.length; else noDocument">
      <div class="template-view-item" *ngIf="templateService.activeTemplate?.fields.length">
        <app-template-placeholders></app-template-placeholders>
      </div>
      <div class="template-view-item">
        <object *ngIf="safeUri" [data]="safeUri" id="template-document"></object>
      </div>
    </div>
    <ng-template #noDocument>
      <div id="template-upload">
        <p>Kein Dokument vorhanden.</p>
        <p>Bitte lade ein LaTeX Dokument hoch oder aktualisiere:</p>
        <button md-raised-button color="accent" (click)="templateService.reloadTemplate()">
          <md-icon>refresh</md-icon>
        </button>
      </div>
    </ng-template>
  </div>
</div>
