<div *ngIf="templateService.activeTemplate?.fields?.length; else noFields">
  <mat-form-field *ngFor="let field of templateService.activeTemplate?.fields[0]">
    <input matInput [placeholder]="field.content" [(ngModel)]="field.replacement">
    <mat-hint align="start">{{ field.description }}</mat-hint>
  </mat-form-field>
  <div class="mt-1">
    <button mat-button mat-raised-button color="primary" (click)="reload()" matTooltip="Dokument neu laden">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button mat-raised-button color="primary" (click)="series()" matTooltip="Serie des Dokuments erstellen">
      <mat-icon>content_copy</mat-icon>
    </button>
    <a [href]="getDocumentDownload()" [download]="templateService.activeTemplate?.name">
      <button mat-button mat-raised-button color="primary" matTooltip="Dokument herunterladen">
        <mat-icon>file_download</mat-icon>
      </button>
    </a>
  </div>
</div>
<ng-template #noFields>
  <p>Keine Platzhalter oder Variablen gefunden.</p>
</ng-template>
